**/node_modules/
**/__pycache__/
**/env/
.vscode/
.idea/
.vim/
src/PokeApp/.gradle
src/PokeApp/gradle
src/PokeApp/build.gradle
src/PokeApp/gradle.properties
src/PokeApp/gradlew*
src/PokeApp/settings.gradle
src/PokeApp/local.properties
src/PokeApp/.idea
